/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



/******************************** End CSS Reset ********************************/
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700|Droid+Sans);

body {
	font-size: 16px;
	font-family: "Droid Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arvo", sans-serif;
}

h2, h3, h4, h5, h6 {
	font-size: 2.5em;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: orange;
}

.container {
	width: 75%;
	height: 100%;
	margin: 1.5em auto;
	background-color: white;
	padding: 0.75em;
	border-radius: 5px;
}

.container div.story-section h1#headline {
	font-size: 3.5em;
	text-align: center;
	margin-bottom: 0.75em;
}

.container div.story-section {
	display: block;
	width: 100%;
	height: auto;
	margin: 2em auto;
}

.container div.story-section .story {
	line-height: 1.5;
	margin-bottom: 0.75em;
}

.container div.story-section .story p {
	margin: 1em auto;
}

/************************************  ************************************/

path {
    stroke: gray;
    stroke-width: 1;
}

div.container div.story-section div.interactive.interactive3 svg g g.gender path.line {
	fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: left;
    min-width: 100px;
    height: 130px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px orange solid;
    border-radius: 5px;
    pointer-events: none;
}

.tooltip p {
    margin: 5px;
}
